<p> settings rész:</p>
<div>

    <div><label>Név: {{profile.username}}</label></div>
    <div><label>Kor: {{profile.age}}</label></div>
    <div><label>Neme: {{profile.gender}}</label></div>
    <div><label>Mit keres: {{profile.looking}}</label></div>
    <div><label>Város: {{profile.address}}</label></div>
    <div><label>Magasság: {{profile.height}}</label></div>
    <div><label>Testalkat: {{profile.physique}}</label></div>
    <div><label>Iskolai végzettség: {{profile.school}}</label></div>
    <div><label>Munka: {{profile.job}}</label></div>
    <div><label>Gyerek: {{profile.child}}</label></div>
    <div><label>Együttélés: {{profile.live}}</label></div>
    <input type="file" name="picture" id="picture">
    <button (click)="openChat()">chat</button>
</div>
