<p> settings rész:</p>
<form>
    <!--<label for="name"></label><br>-->
    <!--<input id="name" type="text" name="name" [(ngModel)]="settingForm.name"/>-->
    <!--<label for="age"></label><br>-->
    <!--<input id="age" type="text" name="age" [(ngModel)]="settingForm.age"/>-->
    <!--<label for="weight"></label><br>-->
    <!--<input id="weight" type="text" name="weight" [(ngModel)]="settingForm.weight"/>-->
    <!--<label for="height"></label><br>-->
    <!--<input id="height" type="text" name="height" [(ngModel)]="settingForm.height"/>-->
    <!--<label for="live"></label><br>-->
    <!--<input id="live" type="text" name="live" [(ngModel)]="settingForm.live"/>-->
    <!--<label for="child"></label><br>-->
    <!--<input id="child" type="text" name="child" [(ngModel)]="settingForm.child"/>-->
    <!--<label for="school"></label><br>-->
    <!--<input id="school" type="text" name="school" [(ngModel)]="settingForm.school"/>-->
    <!--<label for="address"></label><br>-->
    <!--<input id="address" type="text" name="adress" [(ngModel)]="settingForm.address"/>-->
    <!--<label for="looking"></label><br>-->
    <!--<input id="looking" type="text" name="looking" [(ngModel)]="settingForm.looking"/>-->
    <button type="button" (click)="profile.mentes()" >Save</button>
</form>
