<p>settings ben vagy</p>
<div class="settingList">
    <div class="setting" *ngFor="let settings of setting">
        <span class="id">{{settings.id}}</span>
        <span class="roleId">{{settings.username}}</span>
        <span class="email">{{settings.address}}</span>
        <span class="password">{{settings.height}}</span>
        <span class="id">{{settings.weight}}</span>
        <span class="roleId">{{settings.age}}</span>
        <span class="email">{{settings.child}}</span>
        <span class="password">{{settings.job}}</span>
        <span class="id">{{settings.live}}</span>
        <span class="roleId">{{settings.looking}}</span>
        <span class="email">{{settings.school}}</span>
        <span class="password">{{settings.status}}</span>
    </div>
</div>
