<p>settings ben vagy</p>
<form>
    <div class="settingList">
        <div class="setting">
            <p>Neved: <input [(ngModel)]="settings.username" type="text" id="username" name="username"></p>
            <p>Városod: <input [(ngModel)]="settings.address" type="text" id="address" name="address"></p>
            <p>Magasságod: <input [(ngModel)]="settings.height" type="text" id="height" name="height"></p>
            <p>Súlyod: <input [(ngModel)]="settings.weight" type="text" id="weight" name="weight"></p>
            <p>Korod: <input [(ngModel)]="settings.age" type="text" id="age" name="age"></p>
            <p>Gyerek: <input [(ngModel)]="settings.child" type="text" id="child" name="child"></p>
            <p>Foglalkozás: <input [(ngModel)]="settings.job" type="text" id="job" name="job"></p>
            <p>Együttélés: <input [(ngModel)]="settings.live" type="text" id="live" name="live"></p>
            <p>Mit keresek: <input [(ngModel)]="settings.looking" type="text" id="looking" name="looking"></p>
            <p>Iskolai végzetségem: <input [(ngModel)]="settings.school" type="text" id="school" name="school"></p>
            <button type="button" (click)="save()">Save</button>
        </div>
    </div>
</form>
