<div align="center">
    <form class="col-sm-4">
        <div class="form-group">
            <label for="email">E-mail cimed:</label>
            <input type="text" class="form-control" name="email" id="email" aria-describedby="email" placeholder="@"
                   [(ngModel)]="registerForm.email"/>
        </div>
        <div class="form-group">
            <label for="password">Jelszó:</label>
            <input type="password" class="form-control" name="id" id="password" placeholder="Jelszó"
                   [(ngModel)]="registerForm.password">
        </div>
        <div class="form-group">
            <label for="passwordAgain">Jelszó újra:</label>
            <input type="password" class="form-control" name="passwordAgain" id="passwordAgain"
                   placeholder="Jelszó újra"
                   [(ngModel)]="registerForm.passwordAgain">
        </div>
        <button class="btn btn-success" type="button" (click)="save()">Regisztráció</button>
    </form>
    {{errorMsg}}
</div>