<div align="center">
    <h1>Kit keresek: </h1>
    <form class="col-sm-4">
        <div class="form-group">
            <label for="gender">Keresett személy neme:</label>
            <select type="string" class="form-control" id="gender" name="gender" [(ngModel)]="gameForm.gender">
                <option *ngFor="let gender of genders" [ngValue]="gender.id">{{gender.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tol">Hány éves kortól: </label>
            <input [(ngModel)]="gameForm.tol" type="range" class="tol" name="tol" id="tol" min="18" max="100"/>{{gameForm.tol}}
        </div>
        <div class="form-group">
            <label for="ig">Hány éves korig: </label>
            <input [(ngModel)]="gameForm.ig" type="range" class="ig" name="ig" id="ig" min="18" max="100"/>{{gameForm.ig}}
        </div>
        <button class="btn btn-success" type="button" (click)="search()">Keresés</button>
    </form>

    <div id="form1" *ngIf="!profileList">
        <label>Állits keresési feltételt</label><br>
    </div>
    <div id="form2" *ngIf="profileList && profileList.length > 0">
        <label>Név: </label>{{profileList[currentIndex].username}}<br>
        <img src="http://randi/picture/get/{{profileList[currentIndex].picturePath}}" width="250" height="250">
    </div>
    <div id="form3" *ngIf="!profileList && profileList.length === 0">
        <label>Elfogytak a lehetséges felhasználók! </label>
    </div>
    <form *ngIf="profileList && profileList.length > 0">
        <div>
            <input id="id" name="id" type="hidden" [(ngModel)]="profileList[currentIndex].id"/><br>
            <button class="btn btn-danger" type="button" (click)="disLike()">Nem tetszik</button>
            <button class="btn btn-success" type="button" (click)="like()">Tetszik</button>
        </div>
    </form>
    <h1>Párok akikkel Likeoltátok egymást:</h1>
    <div *ngFor="let matches of matchList">
        <a class="btn btn-light" routerLink="/profile/{{matches.id}}">{{matches.username}}</a>
    </div>
</div>