<nav>
  <ul>
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li *ngIf="authService.isLoggedIn()"><a routerLink="/profile">Profil</a></li>
    <li *ngIf="authService.isLoggedIn()"><a routerLink="/chat-groups">Üzenetek</a></li>
    <li *ngIf="authService.isLoggedIn()"><a routerLink="/search">Keresés</a></li>
    <li *ngIf="authService.isLoggedIn()"><a routerLink="/admin/users">Felhasználók kezelése</a></li>
    <li *ngIf="authService.isLoggedIn()" (click)="authService.logout()"><a>Kilépés</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
