<nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--kilogolva-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--Belogolva-->
                <li class="nav-item active" *ngIf="authService.isLoggedIn()">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Főmenü<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" *ngIf="authService.hasPermission('admin')">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
                <li class="nav-item active" *ngIf="authService.hasPermission('editor')">
                    <a class="nav-link" routerLink="/editor" routerLinkActive="active">Tartalomszerkesztő</a>
                </li>
                <li class="nav-item active" *ngIf="authService.hasPermission('user')">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Felhasználó</a>
                </li>
                <li class="nav-item active" *ngIf="authService.isLoggedIn()">
                    <a class="nav-link" (click)="authService.logout()">Kilépés</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>
<router-outlet></router-outlet>