<form>
    <div align="center">
        <h1>Jelszó Változtatás</h1><br>
        <div class="form-group">
            <label for="old">Jelenlegi jelszó: </label>
            <input [(ngModel)]="passForm.old" type="text" class="old" name="old" id="old"/>
        </div>

        <div class="form-group">
            <label for="newPass">Új jelszó: </label>
            <input [(ngModel)]="passForm.newPass" type="text" class="newPass" name="newPass" id="newPass"/>
        </div>

        <div class="form-group">
            <label for="again">Új jelszó újra: </label>
            <input [(ngModel)]="passForm.again" type="text" class="again" name="again" id="again"/>
        </div>
        <button class="btn btn-success" type="button" (click)="changePass()">Jelszó Váltás</button>
    </div>
</form>
<div align="center">{{errorMsg}}</div>