<div align="center">
    <form class="col-sm-4">
        <div align="center" class="form-group">
            <label for="email">E-maíl cim:</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                   placeholder="E-mail cím"
                   [(ngModel)]="loginForm.email">
        </div>
        <div class="form-group">
            <label for="password">Jelszó:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Jelszó"
                   [(ngModel)]="loginForm.password">
        </div>
        <button class="btn btn-success" type="button" (click)="login()">Bejelentkezés</button>
    </form>
    {{errorMsg}}
</div>



